.main-chat
  .main-chat__top
    .main-chat__group-info-items
      .main-chat__group-info-items__data
        .main-chat__group-info-items__name
          My Group #1
        .main-chat__group-info-items__members
          Member: Kotaro
      = link_to 'Edit', '#', class: 'main-chat__group-info-items__edit-btn'
  .main-chat__body
  .main-chat__form