.side-bar
  .side-bar__top
    .side-bar__top-items
      %p.side-bar__top-items__user-name
        Kotaro
      %ul.side-bar__top-items__icons
        %li
          = link_to '#' do
            = icon('fas', 'edit')
        %li
          = link_to '#' do
            = icon('fas', 'cog')
  .side-bar__body